@import url("../home/home.css");
body{
    height: auto;
}

.title-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.container{
    margin: 1rem;
}



.list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem;
    width: 80%;
    height: 3rem;
    background-color: var(--white-color);
    border-radius: 1rem;
    box-sizing:border-box;
}   
    .list:hover{
        border: 2px solid black;
    }

 .btn{
    background-color: #fee1e3;
    color: #000;
    border-radius: 1rem;
 }   


    .btn{
        background-color: #fee1e3;
        color: #000;
        border-radius: 1rem;
     }   
  